@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto";
}

#header {
  border-bottom: solid black;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

li {
  padding: 0.5rem;
  margin: 0.5rem;
}

#main {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0.5rem;
  margin: 0.5rem;
}

#message-board {
  border: solid black;
  display: flex;
  width: 50%;
  height: 80%;
  flex-flow: column;
  justify-content: space-between;
}

#messages-display {
  display: flex;
}

#add-message {
  display: flex;
  flex-flow: column;
  padding: 0.5rem;
  margin: 0.5rem;
  width: 100%;
}

input {
  margin: 0.5rem;
}

#new-meesage-input {
  width: 80%;
}

.message-profile-pic {
  width: 10%;
  height: 10%;
}

.message-box {
  display: flex;
  flex-direction: column;
  text-align: initial;
}

a {
  padding: 0.5rem;
  margin: 0.5rem;
  text-decoration: none;
  width: 5rem;
}

#login-account {
  border: solid black;
  display: flex;
  width: 50%;
  height: 80%;
  flex-flow: column;
  justify-content: space-between;
}

.icons:hover {
  transform: scale(1.3);
}

#profile-section {
  border: solid black;
  display: flex;
  width: 50%;
  height: 80%;
  flex-flow: column;
  align-items: center;
}

#prfile-img-div {
  display: flex;
  justify-content: center;
  text-align: justify;
  border: solid black 2px;
  width: 50%;
}

button {
  margin: 0.5rem;
}

#icons-div {
  display: flex;
  justify-content: end;
  width: 50%;
}

#profile-img {
  width: 100%;
}

#user-details {
  width: 90%;
  display: flex;
  padding: 1rem;
  margin: 1rem;
}

.icons {
  margin: 0.2rem;
}

#delet-exit {
  width: 100%;
  display: flex;
  justify-content: end;
}

input {
  border-radius: 10px;
  padding: 0.5rem;
}

